<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments/header::header}"></div>

    <!-- Content -->
    <div layout:fragment="content" class="content"></div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>





