<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <style>
        /* 푸터 스타일 */
        #footer {
            background-color: #4a148c; /* 보라색 */
            color: #ffffff; /* 텍스트 흰색 */
            padding: 10px 0; /* 여백 추가 */
            text-align: center; /* 가운데 정렬 */
        }
    </style>
</head>
<body>
<footer th:fragment="footer">
    <div id="footer">
        © 2024 Hoscare, co.
    </div>
</footer>
</body>
</html>
